<div class="note-collapsed" 
     (mouseenter)="hover = true" 
     (mouseleave)="hover = false"
      [ngStyle]="{ 'background-color': color }"
     >

  <!-- Tick (select) icon -->
  <mat-icon *ngIf="hover || isSelected"
            class="select-icon"
            (click)="toggleSelect($event)">
    {{ isSelected ? 'check_circle' : 'radio_button_unchecked' }}
  </mat-icon>

  <!-- Title + Pin -->
  <div class="note-header">
    <strong class="note-title-text">{{ title }}</strong>
<mat-icon
  fontSet="material-symbols-outlined"
  class="pin-icon"
  *ngIf="hover"
  (click)="togglePin($event)"
  [class.pinned]="isPined"
>
  push_pin
</mat-icon>
 </div>

  <!-- Description -->
  <p>{{ description }}</p>

  <!-- Footer icons -->
  <div class="note-footer" *ngIf="hover">
    <mat-icon fontSet="material-symbols-outlined">palette</mat-icon>
    <mat-icon fontSet="material-symbols-outlined">notifications</mat-icon>
    <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
    <mat-icon fontSet="material-symbols-outlined">image</mat-icon>
    <mat-icon
  fontSet="material-symbols-outlined"
  (click)="onArchive()"
  matTooltip="Archive"
>archive</mat-icon>

    <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon>
  </div>
</div>
