<mat-nav-list>
    <mat-list-item>
        <mat-icon matListIcon>lightbulb</mat-icon>
        <span matLine>Notes</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>notifications</mat-icon>
        <span matLine>Reminders</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>edit</mat-icon>
        <span matList>Edit labels</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>archive</mat-icon>
        <span matList>Archive</span>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListIcon>delete</mat-icon>
        <span matList>Trash</span>
    </mat-list-item>
</mat-nav-list>