<app-toolbar (menuClicked)="isSidenavOpen = !isSidenavOpen"></app-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    [opened]="true"
    [class.mat-drawer-collapsed]="!sidenavOpened && !isHovered"
    (mouseenter)="onMouseEnterSidenav()"
    (mouseleave)="onMouseLeaveSidenav()"
    class="custom-sidenav"
  >
    <app-sidenav (sectionSelected)="setSection($event)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-content">
      <app-note-input
       *ngIf="currentSection === 'notes'"
      (noteCreated)="onNoteCreated($event)">
      </app-note-input>
      <div
  *ngIf="currentSection === 'notes' && notes.length === 0"
  class="empty-notes-placeholder"
>

      
  <mat-icon class="empty-icon">lightbulb_outline</mat-icon>
  <p class="empty-message">Notes you add appear here</p>
</div>
      <div class="notes-container">
        <app-note-card
          *ngFor="let note of notes"
          [title]="note.title"
          [description]="note.description"
        ></app-note-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
